---
import BaseLayoutNoAuthor from "../../../../layouts/BaseLayoutNoAuthor.astro";
const pageTitle="Solid Gold Chartbusters";
const allPosts = await Astro.glob('./article/*/*.md');
---
<BaseLayoutNoAuthor frontmatter.title={pageTitle}>
    <ul>
        {allPosts.map((post) => 
        <li><a href={post.url}>{post.frontmatter.title}</a><br/>
{post.frontmatter.author}, {post.frontmatter.pubDate}<br/>
        {post.frontmatter.description}</li>)}
    </ul>
</BaseLayoutNoAuthor>