---
import BaseLayoutArchive from "../../layouts/BaseLayoutArchive.astro";
const pageTitle="The Idiot Box";
const allPosts = await Astro.glob('./pub/*/*/*/*.md');
---
<BaseLayoutArchive title={pageTitle}>
    <ul style="font-size:15px;">
        {allPosts.map((post) => 
        <li><a href={post.url}>{post.frontmatter.title}</a><br/>
        <p style="color:#757575;font-size:12px;">{post.frontmatter.author}, {post.frontmatter.pubDate}</p><br/>
        {post.frontmatter.description}</li>)}
    </ul>
  <p><a href="archive">Archive</a></p>
</BaseLayoutArchive>