---
import '/src/styles/global.css';

import Gitch from '/src/Images/computers.jpg';
import Oldlady from '/src/Images/oldladyrocking.gif';
import Flyover from '/src/Images/flyover.jpg';
import Humanmade from '/src/Images/human-made.gif';

import { maybeRenderHead } from 'astro/compiler-runtime';

const {frontmatter} = Astro.props;
---
<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="generator" content={Astro.generator}>
      <title>{frontmatter.title}</title>
      <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
   </head>
   <body class="scroll">
   <img src="https://i.pinimg.com/originals/b9/d9/39/b9d939af378c2ccee778d6824d3a285b.png" style="position:absolute;margin-left:250px;margin-top:50px;width:200px;height:auto;transform:rotate(270deg)">
   <img src="https://media.baamboozle.com/uploads/images/253337/1617254280_193526_gif-url.gif" style="position:absolute;margin-left:400px;margin-top:20px;width:100px;height:auto;">
      <div id="container">
         <div id="header">
            <h1 class="title"><a href="/" style="text-decoration:none;color:white;">Imperial</a></h1>
         </div>
         <div class="navbar">
            <ul>
               <li><a href="/">Home</a></li>
               <li>
                  <a href="/bashfultv">The Idiot Box</a>
                  <ul class="subitems">
                     <li><a href="#">Subitem</a>
                     <ul>
                        <li>Boob</li>
                        <li>Breakneck</li>
                     </ul>
                     </li>
                     <li><a href="#">Subitem</a></li>
                     <li><a href="#">Subitem</a></li>
                  </ul>
               <li>
                  <a href="/music-stuff">Music</a>
                  <ul class="subitems">
                     <li><a href="#">Subitem</a></li>
                     <li><a href="#">Subitem</a></li>
                     <li><a href="#">Subitem</a></li>
                  </ul>
               <li>
                  <a href="/about">About</a>
               <li>
                  <a href="/contact">Contact</a>
            </ul>
         </div>
         <div class="wrapper">
            <div id="left-sidebar">
               <div class="content">
                  <img src={Oldlady.src} style="width:100px;height:auto;" class="center">
                  <h3 style="margin-bottom:5px;">Music</h3>
                  <ul class="nobullets" style="font-size:12px;">
                    <li><a href="/music-stuff/pub/90s-2000s-rarities">90s/2000s Rarities</a></li>
                    <li><a href="/music-stuff/pub/classic-grime">Classic Grime Review</a></li>
                    <li><a href="/music-stuff/pub/happy-hardcore">Happy Hardcore</a></li>
                    <li><a href="/music-stuff/pub/novelty-deep-cuts">Novelty Deep Cuts</a></li>
                    <li><a href="/music-stuff/pub/solid-gold-chartbusters">Solid Gold Chartbusters</a></li>
                      <ul style="margin-left:0;">
                        <li><a href=/music-stuff/pub/solid-gold-chartbusters/the-works>SGC: The Works</a></li>
                      </ul>
                    <li><b>Weekly publications:</b>
                        <ul style="margin-left:0;">
                          <li><a href="/music-stuff/pub/weekly-roundup">Weekly Roundup</a></li>
                        </ul>
                    </li>
                    <li><b>Monthly publications:</b>
                      <ul style="margin-left:0;">
                        <li><a href="/music-stuff/pub/acid-april">Acid April</a></li>
                        <li><a href="/music-stuff/pub/novelty-november">Novelty November</a></li>
                      </ul>
                    </li>
                    <li><a href="/music-stuff/pub/bargain-street">Bargain Street</a></li>
                    <li><a href="/music-stuff/pub/hauls">Hauls</a></li>
                    <li><a href="/music-stuff/pub">View all publications</a></li>
                  </ul>
                  <h3 style="margin-bottom:5px;">The Idiot Box</h3>
                  <ul class="nobullets" style="font-size:12px;">
                    <li><a href="/bashfultv/doctor-who-review">The Doctor Who Review</a></li>
                    <li>Early 2000s deep cuts</li>
                    <li>Reality crap</li>
                    <li><a href="/bashfultv/standup-tapes">Standup tapes</a></li>
                    <li>Oldies</li>
                    <li><a href="/bashfultv/archive">Archive</a></li>
                  </ul>
               </div>
            </div>
            <div class="main-content">
               <div class="content">
                  <p style="padding:0;font-size:12px;">Publication: <a href="/music-stuff/pub/weekly-roundup">{frontmatter.pub}</a></p>
                  <h1>{frontmatter.title}</h1>
                  <h3>{frontmatter.description}</h3>
                  <hr>
                  <p style="padding:0;padding-left:5px;font-size:14px;"><b>{frontmatter.author}</p>
                  <p style="color:#757575;padding:0;padding-left:5px;font-size:12px;">{frontmatter.pubDate}</p>
                  <hr>
                  <slot/>
               </div>
            </div>
            <div id="right-sidebar">
              <div class="content">
                <h2>Search</h2>
                <img src={Humanmade.src}>
                <h2 style="padding-bottom:10px;text-align:center;">Latest Posts</h2>
                <img src={Gitch.src} style="width:176px;height:auto;" class="center">
                <h3 style="margin:0;margin-top:5px;">Solid Gold Chartbusters #3 — Jedward</h3>
                <p style="margin-top:0;margin-bottom:0;padding-top:5px;padding-bottom:0;font-size:12px;">Bitch Jenkins is on the scene to report the cyber-travesty as metal men make their way...</p>
                <p style="color:#757575;margin-top:0;font-size:12px;padding-top:3px;padding-bottom:5px;"> Fri 13 May 2009</p>
                <img src={Flyover.src} style="width:176px;height:auto;" class="center">
                <h3 style="margin:0;margin-top:5px;">Water slide boom</h3>
                <p style="margin-top:0;margin-bottom:0;padding-top:5px;padding-bottom:0;font-size:12px;">The bright red, demonic-looking jet flume has terrified intrepid park-goers...</p>
                <p style="color:#757575;margin-top:0;font-size:12px;padding-top:3px;padding-bottom:0;"> Wed 10 Aug 2024</p>
              </div>
            </div>
          </div>
          <br/>
          <br/>
          <br/>
          <h3>Related</h3>
          <img src={Gitch.src} style="width:176px;height:auto;" class="center">
          <h3 style="margin:0;margin-top:5px;">Solid Gold Chartbusters #3 — Jedward</h3>
          <p style="margin-top:0;margin-bottom:0;padding-top:5px;padding-bottom:0;font-size:12px;">Bitch Jenkins is on the scene to report the cyber-travesty as metal men make their way...</p>
          <p style="margin-top:0;font-size:12px;padding-top:3px;color:#757575;padding-bottom:5px;"> Fri 13 May 2009</p>
      </div>
      <div id="footer">
         <p>Kill yourself</p>
      </div>
   </body>
</html>