---
import '/src/styles/global.css';

import Gitch from '/src/Images/computers.jpg';
import Oldlady from '/src/Images/oldladyrocking.gif';
import Humanmade from '/src/Images/human-made.gif';
import construction from '/src/Images/construction.jpg';

const {title} = Astro.props;
const {description} = Astro.props;
---
<!DOCTYPE HTML>
<html>
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="generator" content={Astro.generator}>
      <title>{title}</title>
      <link rel="icon" type="image/svg+xml" href="/src/Images/favicon.png" />
   </head>
   <body class="scroll">
      <img src="https://theyakemperor.neocities.org/Images/kisspng-ultra-high-definition-television-desktop-wallpaper-5ae3e433096d03.6708256115248845310386.png" style="position:absolute;margin-left:975px;margin-top:135px;width:300px;height:auto;transform:rotate(-25deg)">
      <img src="https://theyakemperor.neocities.org/Images/bc7043b9d8fb36529f3bf4109701be3a.png" style="position:absolute;margin-left:160px;margin-top:15px;width:275px;height:auto;">
      <img src="https://i.pinimg.com/originals/b9/d9/39/b9d939af378c2ccee778d6824d3a285b.png" style="position:absolute;margin-left:215px;margin-top:50px;width:220px;height:auto;">
      <img src="https://theyakemperor.neocities.org/Images/verdant.png" style="position:absolute;margin-left:480.5px;margin-top:223.5px;width:475px;height:auto;">
      <img src="https://media.baamboozle.com/uploads/images/253337/1617254280_193526_gif-url.gif" style="position:absolute;margin-left:481px;margin-top:180px;width:85px;height:auto;">
      <img src="https://theyakemperor.neocities.org/Images/windmus.gif" style="position:absolute;margin-left:605px;margin-top:180px;width:47px;height:auto;transform:scaleX(-1)">
      <img src="https://theyakemperor.neocities.org/Images/crass.gif" style="position:absolute;margin-left:705px;margin-top:179px;width:43px;height:auto;transform:scaleX(-1)">
      <img src="https://theyakemperor.neocities.org/Images/cadmus.gif" style="position:absolute;margin-left:765px;margin-top:165px;width:120px;height:auto;">
      <img src="https://theyakemperor.neocities.org/Images/blaster%20al.png" style="position:absolute;margin-left:1015px;margin-top:206px;width:90px;height:auto;">
   <div id="header">
      <h1 class="title"><a href="/" style="text-decoration:none;color:white;">H.J.</a></h1>
   </div>
   <div class="navbar">
      <ul>
         <li style="background-color:red;"><a href="/" style="color:white;">Home</a>
         <li style="background-color:orange;">
            <a href="/bashfultv">The Idiot Box</a>
            <ul class="subitems">
               <li><a href="#">Subitem</a>
               <ul>
                  <li>Boob</li>
                  <li>Breakneck</li>
               </ul>
               </li>
               <li><a href="#">Subitem</a></li>
               <li><a href="#">Subitem</a></li>
            </ul>
         <li style="background-color:yellow;">
            <a href="/music-stuff">Music</a>
            <ul class="subitems">
               <li><a href="#">Subitem</a></li>
               <li><a href="#">Subitem</a></li>
               <li><a href="#">Subitem</a></li>
            </ul>
            <li style="background-color:green;">
               <a href="/radio" style="color:white;">Radio</a>
            <li style="background-color:blue;">
               <a href="/about" style="color:white;">About</a>
            <li style="background-color:purple;">
               <a href="/contact" style="color:white;">Contact</a>
      </ul>
   </div>
      <div id="container">
         <div><p></p></div>
         <div class="wrapper">
            <div id="left-sidebar">
               <div class="content">
                  <img src={Oldlady.src} style="width:100px;height:auto;" class="center">
                  <br/>
                  <img src={construction.src} style="height:auto;width:175px;" class="center">
                  <h3 style="margin-bottom:5px;">Music</h3>
                  <ul class="nobullets" style="font-size:12px;">
                    <li><a href="/music-stuff/pub/90s-2000s-rarities">90s/2000s Rarities</a></li>
                    <li><a href="/music-stuff/pub/classic-grime">Classic Grime Review</a></li>
                    <li><a href="/music-stuff/pub/happy-hardcore">Happy Hardcore</a></li>
                    <li><a href="/music-stuff/pub/novelty-deep-cuts">Novelty Deep Cuts</a></li>
                    <li><a href="/music-stuff/pub/in-the-jungle-groove">In the Jungle Groove</a></li>
                    <li><a href="/music-stuff/pub/solid-gold-chartbusters">Solid Gold Chartbusters</a></li>
                      <ul style="margin-left:0;">
                        <li><a href=/music-stuff/pub/solid-gold-chartbusters/the-works>SGC: The Works</a></li>
                      </ul>
                    <li><b>Weekly publications:</b>
                        <ul style="margin-left:0;">
                          <li><a href="/music-stuff/pub/weekly-roundup">Weekly Roundup</a></li>
                        </ul>
                    </li>
                    <li><b>Monthly publications:</b>
                      <ul style="margin-left:0;">
                        <li><a href="/music-stuff/pub/acid-april">Acid April</a></li>
                        <li><a href="/music-stuff/pub/novelty-november">Novelty November</a></li>
                      </ul>
                    </li>
                    <li><a href="/music-stuff/pub/bargain-street">Bargain Street</a></li>
                    <li><a href="/music-stuff/pub/hauls">Hauls</a></li>
                    <li><a href="/music-stuff/pub">View all publications</a></li>
                  </ul>
                  <h3 style="margin-bottom:5px;">The Idiot Box</h3>
                  <ul class="nobullets" style="font-size:12px;">
                    <li><a href="/bashfultv/pub/doctor-who-review">The Doctor Who Review</a></li>
                    <li><b>Films</b>
                     <ul style="margin-left:0;">
                        <li><a href="/bashfultv/pub/film-review">Film Review</a></li>
                        <li><a href="/bashfultv/pub/classic-film-review">Classic Film Review</a></li>
                     </ul>
                    </li>
                    <li>Early 2000s deep cuts</li>
                    <li>Reality crap</li>
                    <li><a href="/bashfultv/pub/standup-tapes">Standup tapes</a></li>
                    <li>Oldies</li>
                    <li><a href="/bashfultv/archive">Archive</a></li>
                  </ul>
                  <h3 style="margin-bottom:5px;">Miscellaneous</h3>
                  <ul class="nobullets" style="font-size:12px;">
                     <li><a href="/misc/pub/notes">Notes</a></li>
                     <li><a href="/misc/pub/food-review">Food Review</a>
                        <ul>
                           <li><a href="/misc/pub/supermarket-crap">Supermarket crap</a></li>
                           <li><a href="/misc/pub/flavours-of-childhood">The Flavours of Childhood</a></li>
                        </ul>
                     </li>
                     <li><a href="/misc/pub/autistic-obsessions">Autistic Obsessions</a></li>
                     <li><a href="/misc/pub/dream-diary">Dream Diary</a></li>
                  </ul>
               </div>
            </div>
            <div class="main-content">
               <div class="content">
                  <h1>{title}</h1>
                  <h3>{description}</h3>
                  <hr>
                  <slot/>
               </div>
            </div>
            <div id="right-sidebar">
              <div class="content">
               <h2>Search</h2>
               <img src={Humanmade.src}>
              </div>
            </div>
          </div>
          <br/>
          <br/>
          <br/>
      </div>
      <div class="navbar">
         <ul>
            <li style="background-color:red;"><a href="/" style="color:white;">Home</a>
            <li style="background-color:orange;">
               <a href="/bashfultv">The Idiot Box</a>
               <ul class="subitems">
                  <li><a href="#">Subitem</a>
                  <ul>
                     <li>Boob</li>
                     <li>Breakneck</li>
                  </ul>
                  </li>
                  <li><a href="#">Subitem</a></li>
                  <li><a href="#">Subitem</a></li>
               </ul>
            <li style="background-color:yellow;">
               <a href="/music-stuff">Music</a>
               <ul class="subitems">
                  <li><a href="#">Subitem</a></li>
                  <li><a href="#">Subitem</a></li>
                  <li><a href="#">Subitem</a></li>
               </ul>
               <li style="background-color:green;">
                  <a href="/radio" style="color:white;">Radio</a>
               <li style="background-color:blue;">
                  <a href="/about" style="color:white;">About</a>
               <li style="background-color:purple;">
                  <a href="/contact" style="color:white;">Contact</a>
         </ul>
      </div>
      <div id="footer">
         <p></p>
      </div>
   </body>
</html>